.features .glyphicon{
font-size:32px;
}

.navbar-brand{
	font-size:36px;
}


.btnContainer{
padding:20px;
}

.logo{
height:200%;
width:50%;
}


.spacerContainer{
padding:20px;
}

.navbar-lower{
	position:fixed;
z-index:1000;
}

.navbar-lower-1{
	position:fixed;
	z-index:1000;
	width:100%;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.footer{
	padding-top:80px;
}

.divide-nav{
  height: 50px;
  background-color: #428bca;
}


.trailimg{
width:100%;
height:100%;
}

.rw-ui-container{
z-index: 10;
}

audio{
width: 100%;
}


img[Gael Trails logo - click to go to home page]{
z-index: 10;
}

img[navlogo]{
height: 100%;
width: 100%;
}

#navh2{
margin-top: 12px;
}

#navh4{
font-size: 95%;
margin-top: 20px;
}

#sites{
font-size: 200%;
}