html,body {
    height:100%;
}

.features .glyphicon{
font-size:32px;
}

.navbar-brand{
	font-size:36px;
}

.btn {
	margin-left: 1em; min-width: 7em;
}

.headerContainer{
background-color:yellow;
}


.btnContainer{
padding:20px;
margin-top:70px;
}

.logo{
height:200%;
width:50%;
}


.spacerContainer{
padding:20px;
}

.navbar-lower{
	position:fixed;
z-index:1000;
}

.navbar-lower-1{
	position:fixed;
	z-index:1000;
	width:100%;
}

.carousel-inner > .item > img {
margin: 0 auto;
}

.footer{
	padding-top:80px;
}

.divide-nav{
  height: 50px;
  background-color: #428bca;
}


audio{
margin-top: 15px;
position: absolute;
width: 95%;
bottom: 5px;
}

#navh2{
margin-top: 12px;
padding:0 30px 0 30px;
}

#navh4{
font-size: 95%;
margin-top: 20px;
margin-left:20px;
}

h5{
margin-top:20px;	
}


#sites{
font-size: 200%;
}


.imgbtn{
margin-top: 15px;
position: absolute;
width: 95%;
bottom: 5px;
}

.gn-menu-main ul{
margin-right: 50px;
}

ul.company-social{
margin-left:50px;
}

.ourCustomNav{
	margin-right:10px;
}


#trailPageNavBar{
margin-bottom:100px;
}

.twelveColDiv{
margin-top:100px;
}


.textDiv{
min-height: 520px;
}

.picDiv{
min-height: 520px;
}

.mainImage{
margin: auto;
margin-top: 50px;
}

.textDivJailGate{
min-height: 600px;
}

.picDivJailGate{
min-height: 600px;
}


@media (min-width: 992px) and (max-width: 1119px) {
.picDivJailGate{
min-height: 630px;
}
 
.picDiv{
min-height: 560px;
}

.textDiv{
min-height: 560px;
}
 .textDivJailGate{
min-height: 630px;
}


}

@media (min-width: 768px) and (max-width: 991px) {
.picDivJailGate{
min-height: 580px;
}
 
.picDiv{
min-height: 500px;
}

.textDiv{
min-height: 430px;
}
 .textDivJailGate{
min-height: 580px;
}


}

.rw-ui-container{
padding: 30px;
margin: auto;
}


